language: ruby
jdk:
  - oraclejdk8
rvm:
  - jruby-head

before_script:
  - curl --create-dirs -o ~/bin/embulk -L http://dl.embulk.org/embulk-latest.jar
  - chmod +x ~/bin/embulk

script:
  - gradle test
  - gradle gem
  - ls -l
  - ls -l pkg
  - embulk gem install --local $(ls pkg/embulk-parser-xpath2-*.gem)
  - embulk run src/test/resources/config.yml

before_deploy:
  - echo '---' > ~/.gem/credentials
  - echo ':rubygems_api_key:' ${RUBYGEMS_API_KEY} > ~/.gem/credentials
  - chmod 0600 ~/.gem/credentials

deploy:
  provider: script
  script:
    - gradle gemPush
  on:
    tags: true
    all_branches: true
